<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Products | Craftey.</title>
<link href="https://fonts.googleapis.com/css?family=Roboto"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!--jQuery library-->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!--Latest compiled and minified JavaScript-->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="index.css" rel="stylesheet" type="text/css" />
<link href="/css/productView.css" rel="stylesheet" type="text/css" />
<style>
/* Styles for the modal */
.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	justify-content: center;
	align-items: center;
}

.modal-content {
	background: #fff;
	padding: 20px;
	border-radius: 5px;
	max-width: 400px;
	margin: 0 auto;
}

/* Style for the close button */
.close {
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 20px;
	color: #555;
}
</style>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Craftey.</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a th:href="@{/customer/cart}"><span
							class="glyphicon glyphicon-shopping-cart"></span> Cart </a></li>
					<li th:each="user: ${user}"><a th:href="@{/customer/profile}"><span
							class="glyphicon glyphicon-user"></span> [[*{user.username}]] </a></li>
					<li><a href="#" onclick="toggleModal()"><span
							class="glyphicon glyphicon-log-in"></span> Logout</a> <!-- th:href="@{/user/logout}" -->
						<!-- Button to trigger the modal --> <!-- <button onclick="toggleModal()">Open Modal</button> -->

						<!-- Modal -->
						<div id="myModal" class="modal">
							<div class="modal-content">
								<span class="close" onclick="toggleModal()">&times;</span><br>
								<a href="#" onclick="toggleModal()"><span></span> Continue
									with craftey.</a><br>
								<br>
								<p>You are leaving our site ?</p>
								<a th:href="@{/user/logout}"><span
									class="glyphicon glyphicon-log-in"></span> Confirm Logout</a>
							</div>
						</div></li>
				</ul>
			</div>
		</div>
	</nav><br><br><br>
	<div class="container">
	<h2>SET YOUR ADDRESS FOR DELIVERY</h2><hr>
	<form action="/customer/address" method="post" th:object="${addr}">
  <div class="form-group">
    <label for="exampleInputEmail1">House Name</label>
    <input type="text" class="form-control" id="exampleInputEmail1" th:field="*{houseName}"  placeholder="Enter House name" required>
  </div>
  
  <div class="form-group">
    <label for="exampleInputEmail1">Street</label>
    <input type="text" class="form-control" th:field="*{street}" placeholder="Enter your Street" required>
  </div>
  
  <div class="form-group">
    <label for="exampleInputEmail1">City</label>
    <input type="text" class="form-control" th:field="*{city}" placeholder="Enter your city" required>
  </div>
  
  <div class="form-group">
    <label for="exampleInputEmail1">Pincode</label>
    <input type="number" class="form-control" th:field="*{pinCode}" placeholder="Enter your Pincode (Only numbers alloted)" required>
  </div>
  
  <div class="form-group">
    <label for="exampleInputEmail1">Phone Number</label>
    <input type="text" class="form-control" th:field="*{phone}" placeholder="Enter your Phone number" required>
  </div>
  
   
  
  <hr>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</body>
<script>
		function toggleModal() {
			var modal = document.getElementById('myModal');
			modal.style.display = modal.style.display === 'none' ? 'flex'
					: 'none';
		}
	</script>
</html>