<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Products | Craftey.</title>
<link href="https://fonts.googleapis.com/css?family=Roboto"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!--jQuery library-->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!--Latest compiled and minified JavaScript-->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="index.css" rel="stylesheet" type="text/css" />
<link href="/css/productView.css" rel="stylesheet" type="text/css" />
<style>
/* Styles for the modal */
.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	justify-content: center;
	align-items: center;
}

.modal-content {
	background: #fff;
	padding: 20px;
	border-radius: 5px;
	max-width: 400px;
	margin: 0 auto;
}

/* Style for the close button */
.close {
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 20px;
	color: #555;
}
</style>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Craftey.</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a th:href="@{/customer/cart}"><span
							class="glyphicon glyphicon-shopping-cart"></span> Cart </a></li>
					<li th:each="user: ${user}"><a th:href="@{/customer/profile}"><span
							class="glyphicon glyphicon-user"></span> [[*{user.username}]] </a></li>
					<li><a href="#" onclick="toggleModal()"><span
							class="glyphicon glyphicon-log-in"></span> Logout</a> <!-- th:href="@{/user/logout}" -->
						<!-- Button to trigger the modal --> <!-- <button onclick="toggleModal()">Open Modal</button> -->

						<!-- Modal -->
						<div id="myModal" class="modal">
							<div class="modal-content">
								<span class="close" onclick="toggleModal()">&times;</span><br>
								<a href="#" onclick="toggleModal()"><span></span> Continue
									with craftey.</a><br>
								<br>
								<p>You are leaving our site ?</p>
								<a th:href="@{/user/logout}"><span
									class="glyphicon glyphicon-log-in"></span> Confirm Logout</a>
							</div>
						</div></li>
				</ul>
			</div>
		</div>
	</nav><br><br><br>

	<main class="productSection" th:if="${product.isPresent()}">
		<!-- Left Column -->
		<div class="left-column">
		<img data-image="red" class="active"
				th:src="|data:image/jpeg;base64,${product.get().image}|"
				alt="Image Loading Hindered." style="width:500px;"></img>
		</div>


		<!-- Right Column -->
		<div class="right-column">

			<!-- Product Description -->
			<div class="product-description">
				
					<!-- <span>[[*{product.get().id}]]</span> -->
					<h1>[[*{product.get().name}]]</h1>
					<p>[[*{product.get().desc}]]</p>
			</div>

			<!-- Product Configuration -->
			<div class="product-configuration">
				<div>
					<span class="quotes">Free Delivery</span><br> <span
						class="quotes">High Quality HandCrafted Product.</span><br> <span
						class="quotes">Verified and Trusted Products.</span><br> <span
						class="quotes">Delivery within 3 business Days.</span>
					<p class="quotes">Why are you Waiting for ? Grab the Product
						Now...
					<p>
						<br> <!-- <a >Know more About this Provider Company
							and Website</a> -->
				</div>
			</div>

			<!-- Product Pricing -->
			

			
			<hr>
			<div class="product-price">
				<span>&#8377;[[*{product.get().price}]]</span> <a th:href="@{/customer/cart/addToCart/{id}(id=${product.get().id})}"
					class="cart-btn btn">Add to cart</a>
			</div>
		</div>
	</main>
</body>
<script>
		function toggleModal() {
			var modal = document.getElementById('myModal');
			modal.style.display = modal.style.display === 'none' ? 'flex'
					: 'none';
		}
	</script>
</html>